.flex{
    display: flex;
    background: gray;
    width: 700px;
    height: 300px;
    margin: auto;
}

.flex-item{
    width: 100px;
    height: 100px;
    background: black;
    color: white;
    border: 2px solid red;
}

.jc-c{
    justify-content: center;
}

.ai-c{
    align-items: center;
}