.container{
    width: 600px;
    height: 100%;
    margin: auto;
}

.menu{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu-iten{
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.menu-iten li{
    margin-right: 20px;
    background: rgb(120, 120, 120);
}

.menu-iten li:last-child{
    margin-right: 0;
    background: red;
    color: white;
}