@import "reset";

body{
    background: black;
}

.container{
    max-width: 1000px;
    height: 100%;
    position: relative;
    margin: auto;
}

.header{
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    height: 100px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    ul{
        list-style-type: none;
        display: flex;

        li{
            text-align: center;
            margin-right: 20px;
            font-weight: 800;
            font-size: 16px;

            &:last-child{
                margin-right: 0;
            }

            .en{
                text-transform: uppercase;
                font-family: 'Courier New', Courier, monospace;
                font-size: 14px;
            }
        }
    }
}

.footre{
    background: white;
    height: 100px;

    .footer-container{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
    }
}

// .warp{
//     height: 100vh;
// }