@import "reset";

.cont{
    max-width: 800px;
    margin: auto;
    position: relative;
    height: 100%;
}

.title{
    text-align: center;
    margin: 20px 0;
}

.table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;

    th{
        background: blue;
        color: white;
    }

    th,
    td{
        border: 1px solid black;
        padding: 10px;
    }

    td:last-child{
        text-align: right;
    }
}

.func{
    text-align: right;
    margin-bottom: 20px;

    button{
        padding: 10px 20px;
        background: blue;
        color: white;
        border: 0;
        font-size: 15px;
        font-weight: 700;
        cursor: pointer;

        &:hover{
            background: orange;
        }
    }
}

@import "rwd-print";