@import "reset";

.cont{
    max-width: 500px;
    height: 100%;
    position: relative;
    margin: auto;
}

.rotate{
    transform: rotate(250deg);
    display: inline-flex;
    width: 100px;
    height: 100px;
    margin-top: 50px;
    background: green;
    color: orange;
}